#loggedUser {
    padding-top: 25px
}

/* Overriding primefaces button changes */
.ui-button .ui-button-text {
    padding: 0;
}

/*Panel tabs*/
.reviewTabs .nav-tabs {
    position: relative;
    bottom: 10px;
    clear:both;
    border-bottom: 1px solid transparent;
}
